@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-inherit {
    font-family: inherit;
  }

  .text-inherit {
    font-size: inherit;
    color: inherit;
  }
}

body {
  @apply text-orange-950;
  background: #ffedd5;
}
